*{
    box-sizing: border-box;
}


.navbar {
    display: flex;
    flex-direction: row;
    
    background-color: rgb(52, 0, 150);
    padding-top: 20px;
    padding-bottom: 20px;
}

.leftside {
    width: 50%;
    height: auto;
    background-color: darkkhaki;
    padding: 10px;    
}

a {
    padding-left: 5px;
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
}

.left-link {
    padding: 10px;
}

.right-link {
    padding: 10px;
    margin-left: auto;
}

.container {
    display: flex;
}

.leftside-block-1 {
    padding: 10px;
    height: auto;
    background-color: white;
    border: 2px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.parent-block {
    background-color: rgb(4, 117, 192);
    height: auto;
    padding: 20px;
    display: flex;
}

.parent-block2 {
    background-color:rgb(4, 117, 192);
    height: auto;
    padding: 20px;
    display: flex;
}
.child-block {
    height: 100px;
    width: 100px;
    margin: 5px;
}

.child-block1  {
    height: 100px;
    width: 100px;
    margin: 5px;
}

.child-block:nth-child(even) {
    background-color: green;
}

.child-block:nth-child(odd) {
    background-color: red;
}

.child-block1:nth-child(even) {
    background-color: green;
}

.child-block1:nth-child(odd) {
    background-color: red;
}

.leftside-block-2 {
    padding: 10px;
    height: auto;
    background-color: white;
    border: 2px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.rightside {
    width: 25%;
    height: auto;
    background-color: rgb(88, 222, 175);
    padding: 10px;
    float
}

.rightside-block {
    height: auto;
    width: auto;
    border: 2px solid black;
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: cornflowerblue;
}

.blank {
    border: 2px solid black;
    height: 90px;
    border-radius: 15px;
}

.footer {
    text-align: center;
    padding-top:10px;
    padding-bottom: 10px;
    background-color: blue;

}

p.label {
    padding: 10px;
    color: rgb(238, 231, 231)
    
}   


.midder {
    height: auto;
    width: auto;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: red
}


.Midder-block {
    width: 25%;
    height: auto;
    background-color: rgb(190, 102, 86);
    padding: 10px;
}

.parent-block3 {
    display: flex;
    width: auto;
    padding: 20px;
    height: auto;
    background-color: violet;
    margin-top: 10px;
    margin-bottom: 10px;
}

.child-block3 {
    width: 100px;
    height: 200px;
    background-color:rgb(21, 188, 218);
    align-self: flex-end;
}

.parent-block4 {
    display: flex;
    width: auto;
    padding: 20px;
    height: auto;
    background-color: violet;
    margin-top: 10px;
    margin-bottom: 10px;
}

.child-block4 {
    width: 100px;
    height: 200px;
    background-color:rgb(21, 188, 218);
    align-self: flex-end;
}

.parent-block5 {
    display: flex;
    width: auto;
    padding: 20px;
    height: auto;
    background-color: violet;
    margin-top: 10px;
    margin-bottom: 10px;
}

.child-block5 {
    width: 100px;
    height: 200px;
    background-color:rgb(21, 188, 218);
    align-self: flex-end;
}

.label3 {
    margin-left:auto;
    color: aliceblue;
}

.label4 {
    margin-left: auto;
    color: aliceblue;
}

.label5 {
    margin-left: auto;
    color: aliceblue;
}

